* {
  box-sizing: border-box;
}
#root{
  height: 100%;
  width: 100%;
  margin: 0;
}

html,  
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
  background: linear-gradient(205deg, #bec5ff, #ffffff);
  /* background: rgb(188, 183, 183); */
}